body {
    background: linear-gradient(90deg, rgba(59,202,32,1) 0%, rgba(217,203,30,1) 100%);
  }
/* Style pour la barre de navigation */
.navbar {
    background: linear-gradient(90deg, rgba(56,88,85,1) 3%, rgba(82,202,206,1) 36%, rgba(128,195,206,1) 62%, rgba(111,175,188,1) 100%);/*couleur de fond*/
    overflow: hidden;
}

/* Style pour les liens de navigation principaux */
.navbar a {
    display: flex;/* mise en page flexible*/
    color : white;/*couleur de text*/
    text-align: center;
    font-weight: 600;
    padding: 14px 16px;
    font-size: 19px;
    text-decoration: none;
}
img {
    display: flex;
    width: 300px;
    height: 200px;
}

/* Style pour les listes déroulantes */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style pour le bouton de la liste déroulante */
.dropdown .dropbtn {
    font-size: 19px;
    font-weight: 600;
    border: none;/**/
    outline: none;/*pas de contour*/
    color : white;/*couleur de text*/
    background-color: inherit;
    margin: 0;
    padding: 14px 16px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

/* Style pour le contenu de la liste déroulante (caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;/*couleur de fond*/
    min-width: 160px;
    z-index: 1;
}

/* Style pour les liens de la liste déroulante */
.dropdown-content a {
    float: none;/**/
    color : white;/*couleur de text*/
    padding: 12px 16px; /*marge interieur*/
    text-decoration: none;/*decoration*/
    display: flex;/* mise en page flexible*/
    text-align: left;/*aligner vers la gauche*/
}

/* Lorsque vous survolez la liste déroulante, affichez son contenu */
.dropdown:hover .dropdown-content {
    display: flex;/* mise en page flexible*/
    flex-direction: column; /*direction du contenaire*/
    background-color: rgb(32, 163, 196);/*couleur de fond*/
}
footer{
    display: flex;/* mise en page flexible*/
    justify-content: center;/*mettre au centre horizontale*/
    width: 100%;/*largeur*/
    background-color: #626D71;/*couleur de fond*/
}
p {
    display: flex;
    width: 100px;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;/*police de text*/
    font-weight: 700; /*epaisseur de le police*/
    width: 150px;
    text-align: center;
}
header{
    width: 100%;/*largeur en pourcentage en largeur*/
    display: flex;/* mise en page flexible*/
    justify-content: center; /*mettre au centtre en utilisant la ligne horizontale*/
    text-align: baseline;/*aligner par rapport a un ligne*/
    font-size: 15px;/*hauteur de l'écriture*/
    gap: 20px;/*espace entre*/
    font-family: 'Work Sans', sans-serif; /*police text*/
    
}

main{
    height: 1000px;/*hauteur*/
    background: linear-gradient(90deg, rgba(59,202,32,1) 0%, rgba(217,203,30,1) 100%);
}
.fa-brands{
    display: flex;/* mise en page flexible*/
    height: 20px;/*hauteur*/
    width: 20px;/*largeur*/
    
}
i.a-brands.fa-linkedin::before {
    height: 20px;/*hauteur*/
    width: 20px; /*largeur*/
    justify-items: center;/*mettre les element au centre longueur*/
    align-self: baseline;/* qu'il soit a la meme ligne*/
    position:absolute; /*bloquer un element fixe*/
    bottom: 7px; /*deplacemant bas*/
}
.bnoutonLik {
    bottom: 20px; /*deplacemant bas*/
}
.contenaireInfo {
    display: grid; /*mise en page separer*/
    grid-template-columns: 500px 500px 500px;/*je veux trois colone de 500 pixel*/
}
.info {
    
    margin: 10px; /*marge extérieur*/
    width: 500px;
    display: flex;
    flex-direction: row;
    
}
s
div {
    display: flex;
    flex-direction:column;
}
body{
    width: 1500px;
    background-color: #d1dad9;
}
#imagebd{
    display: flex; /* Utilisez flexbox pour centrer l'image */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 250px;
    width: 550px;
    object-fit: cover   ;
}
.card1{
    display: flex; /* Utilisez flexbox pour centrer l'image */
    background-color: #ffffff;
    height: 200px;
    color: #333;

    
}
.card2{
    display: flex; /* Utilisez flexbox pour centrer l'image */
    background-color: #ff0000;
    height: 15px;
    color : white;/*couleur de text*/
}
.card3{
    display: flex; /* Utilisez flexbox pour centrer l'image */
    background-color: #89fbe9;
    height: 40px;
    color : #626D71;/*couleur de text*/
    justify-content: center;

}
#pix {
    display: flex;
    object-fit:cover;
    width: 480px;
    height: 200px;
}
#imagejeu  {
    display: flex;
    height: 200px;
    width: 480px;
    object-fit: cover;
}
#imageinfo{
    display: flex;
    height: 200px;
    width: 480px;
    object-fit: cover;
}
.footer {
    /* Styles pour le footer */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-button {
    /* Styles pour le bouton */
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.footer-button:hover {
    background-color: #0056b3;
}
.navbar {
    background: linear-gradient(0deg, rgba(148,50,217,1) 9%, rgba(244,60,209,1) 73%);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar button {
    display: flex;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    justify-content: center;
}
#imageballe img {
    display: flex;
    height: 100px;
    width: 200px;
}
img {
    display:flex;
}
.me{
    display: grid; /*mise en page separer*/
    grid-template-columns: 500px 500px 500px;/*je veux trois colone de 500 pixel*/
}
a{
    text-decoration: none;
    display: flex;
}