body {
    background-color: #ffffff;/*couleur de fond*/
  }
/* Style pour la barre de navigation */
 .navbar {
    background: linear-gradient(90deg, rgba(56,88,85,1) 3%, rgba(82,202,206,1) 36%, rgba(128,195,206,1) 62%, rgba(111,175,188,1) 100%);/*couleur de fond*/
    overflow: hidden;
    display: flex;
    justify-content: center;

}

h4 {
    text-align: center;
    font-size: x-large;
}
h2 {
    font-family: 'Dancing Script';
    font-size:xx-large;
    font-weight: 200;
}
#boutonenvoyer{
    display: flex;
    justify-content: center;
    width: 540px;
}
h3{
    font-family: 'Dancing Script';
    font-size: 21px;
    color: #000;
    align-content: start;
}
html {
    margin: 65px;
}
/* Style pour les liens de navigation principaux */
.navbar a {
    display: flex;/* mise en page flexible*/
    color : white;/*couleur de text*/
    text-align: center;
    font-weight: 600;
    padding: 14px 16px;
    font-size: 19px;
    text-decoration: none;
}
#presentation{

    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 100;

}


footer{
    display: flex;/* mise en page flexible*/
    justify-content: center;/*mettre au centre horizontale*/
    width: 100%;/*largeur*/
    background-color: #485458;/*couleur de fond*/
    height: 100px;
}
p {
    height: 10px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;/*police de text*/
    font-weight: 700; /*epaisseur de le police*/
}
header{
    width: 100%;/*largeur en pourcentage en largeur*/
    display: flex;/* mise en page flexible*/
    justify-content: center; /*mettre au centtre en utilisant la ligne horizontale*/
    text-align: baseline;/*aligner par rapport a un ligne*/
    font-size: 15px;/*hauteur de l'écriture*/
    gap: 20px;/*espace entre*/
    font-family: 'Work Sans', sans-serif; /*police text*/
    
}
.info1{
    display: flex;/* mise en page flexible*/
    
    flex-direction: column; /*mettre en colonne boite*/
    height: 270px;
    flex-direction:column;
}
.info2{
    display: flex;/* mise en page flexible*/
    
    height: 250px;/*hauteur*/
    color : white;/*couleur de text*/
    flex-direction:column;
}
.info3{
    display: flex;/* mise en page flexible*/
    
    height: 250px;/*hauteur*/
    color : white;/*couleur de text*/
    flex-direction:column;
}
.info4{
    display: flex;/* mise en page flexible*/
    
    height: 250px;/*hauteur*/
    flex-direction:column;
    
    
}
.info5{
    display: flex;/* mise en page flexible*/
   
    height: 250px;/*hauteur*/
    color : white;/*couleur de text*/
    flex-direction:column;
}
.info6{
    display: flex;/* mise en page flexible*/
    
    flex-direction:column;
    height: 270px;
    color : white;/*couleur de text*/
}
.info7{
    display: flex;/* mise en page flexible*/
    
    padding: 10px;/*marge interieur*/
    height: 250px;/*hauteur*/
    flex-direction:column;
}
main{
    height: 1375px;/*hauteur*/
}
.fa-brands{
    display: flex;/* mise en page flexible*/
    height: 40px;/*hauteur*/
    width: 40px;/*largeur*/
    
}

.bnoutonLik {
    bottom: 20px; /*deplacemant bas*/
}
.contenaireInfo {
    display: grid; /*mise en page separer*/
    grid-template-columns: 500px 500px 500px;/*je veux trois colone de 500 pixel*/
}
.info {
    
    margin: 10px; /*marge extérieur*/
    
}
s
div {
    display: flex;
    flex-direction:column;
}
body{
    width: 1500px;
    background-color: #d1dad9;
}
#imagebd{
    display: flex; /* Utilisez flexbox pour centrer l'image */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 250px;
    width: 550px;
    object-fit: cover   ;
}
.card1{
    display: flex; /* Utilisez flexbox pour centrer l'image */
    background-color: #ffffff;
    height: 200px;
    color: #333;
    
}
.card2{
    display: flex; /* Utilisez flexbox pour centrer l'image */
    background-color: #626D71;
    height: 15px;
    color : white;/*couleur de text*/
}
.card3{
    display: flex; /* Utilisez flexbox pour centrer l'image */
    background-color: #89fbe9;
    height: 50px;
    color : #626D71;/*couleur de text*/
    justify-content: center;

}
#pix {
    display: flex;
    object-fit:cover;
    width: 480px;
    height: 200px;
}
#imagejeu{
    display: flex;
    height: 200px;
    width: 480px;
    object-fit: cover;
}
#imageinfo{
    display: flex;
    height: 200px;
    width: 480px;
    object-fit: cover;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.navbaricon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center  ;
    gap: 10px;
    height: 20px;
    padding-top: 10px;
    
}

#chloe {
    height: 20%;
    width: 20%;
}


#text { 
    display: flex;
    flex-direction: row;
    padding: 50px;
}
#image {
    display: flex;
    flex-direction: row;
}
#propos {
    display: flex;
}
.mon {
    display: flex;
    flex-direction: column;
    margin: 10px 50px 20px;
    font-family:'Dancing'
}
a{
    text-decoration: none;
}
.fa-brands {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    gap: 15px;
    bottom: 15px;
    padding-top: 15px;
    align-items: center;
}
#contenairefooter {
    display: flex;
    flex-direction: column;
    height: 100px;
}
.footertext{
    display: flex;
    height: 10px;
}
.formulaire  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-right: 487px;
    padding-left: 487px;
    margin-bottom: 40px;
}